<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">

<style>
.grey {
		background-color: blue;
		padding: 20p;
}

</style>

</head>

<h1>Fee Ticket Conversion </h1>

<div>
	<p>
	Download:
	<%= link_to "CSV", ftchome_path(format: "csv") %>
	<%= link_to "XLS", ftchome_path(format: "xls") %>
	</p>
</div>

<div class = "grey">
	<div class ="container">
		<div class="well">
<table class="table-bordered table">
	<tr>
		<th>Code</th>
		<th>Short Description</th>
		<th>Long Description</th>
	</tr>

<% @ftcs.each do |ftc| %>
<tr>
	<td><%= ftc.code %></td>
	<td><%= ftc.shortdesc %></td>
	<td><%= ftc.longdesc %></td>
</tr>
<% end %>
</table>

<h3> Import some codes</h3>
<%= form_tag import_ftc_index_path, multipart: true do %>
	<%= file_field_tag :file %>
	<%= submit_tag "Upload Codes" %>
<% end %>



		<div>
	</div>
</div>



<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>