<!--Script for select2 searchable dropdown-->
<script type="text/javascript">
  $(document).ready(function() {
    $('.select-two').select2();
  });
</script>	

<h1>Fee Ticket Conversion </h1>

<div>
<%= select_tag :code, options_from_collection_for_select(@icd9s, :code, :code, params[:code]), include_blank: true, class: "select-two form-control" %>
</div>

<div>
	<p>
	Download:
	<%= link_to "CSV", ftchome_path(format: "csv") %>
	<%= link_to "XLS", ftchome_path(format: "xls") %>
	</p>
</div>

<div class = "grey">
	<div class ="container">
		<div class="well">
			
			<!--Select serch is added here -->
			<div class="row">
				<div class="col-md-6">
					<%= select_tag :code, options_from_collection_for_select(@icd9s, :code, :code_and_discrip, params[:code]), include_blank: true, class: "select-two form-control" %>
				</div>
				<div class="col-md-2">
					
				</div>
			</div>

<table class="table-bordered table">
	<tr>
		<th>Code</th>
		<th>Exception</th>
		<th>Short Description</th>
		<th>Long Description</th>
	</tr>

<% @ftcs.each do |ftc| %>
<tr>
	<td><%= ftc.code %></td>
	<td><%= ftc.exception %></td>
	<td><%= ftc.shortdesc %></td>
	<td><%= ftc.longdesc %></td>
</tr>
<% end %>
</table>

<h3> Import some codes</h3>
<%= form_tag import_ftc_index_path, multipart: true do %>
	<%= file_field_tag :file %>
	<%= submit_tag "Upload Codes" %>
<% end %>



		<div>
	</div>
</div>
