<!--Script for select2 searchable dropdown-->
<script type="text/javascript">
  $(document).ready(function() {
    $('.select-two').select2();
  });
</script>	

<h1>Fee Ticket Conversion </h1>

<div>
	<p>
	Download:
	<%= link_to "CSV", ftchome_path(format: "csv") %>
	<%= link_to "XLS", ftchome_path(format: "xls") %>
	</p>
</div>

<div class = "grey">
	<div class ="container">
		<div class="well">
			
			<!--Select serch is added here -->
			<div class="row">
				<%= form_for(:create) do |f| %>
				<div class="col-md-6 offset-col-md-1">
					
					<%= collection_select(:icd9, :idc9_id, @icd9s, :id, :code_and_discrip, {:prompt => true}, { class: "form-control select-two"}) %>
				</div>
				<div class="col-md-2">
					<%= f.submit "Add Code", class: "btn" %>

				</div>
				<% end %>
			</div>

<table class="table-bordered table">
	<tr>
		<th>Code</th>
		<th>Exception</th>
		<th>Short Description</th>
		<th>Long Description</th>
	</tr>

<% @ftcs.each do |ftc| %>
<tr>
	<td><%= ftc.code %></td>
	<td><%= ftc.exception %></td>
	<td><%= ftc.shortdesc %></td>
	<td><%= ftc.longdesc %></td>
</tr>
<% end %>
</table>

<h3> Import some codes</h3>
<%= form_tag import_ftc_index_path, multipart: true do %>
	<%= file_field_tag :file %>
	<%= submit_tag "Upload Codes" %>
<% end %>



		<div>
	</div>
</div>
